.loader-wrapper {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  animation: hide 2s linear;
  visibility: hidden;
}
.loader-wrapper p {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #9356DC;
  margin-top: 40px;
  margin-left: -40px;
}

@keyframes hide {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.loader:after {
  content: "";
  width: 40px;
  height: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #ffffff;
  margin: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.header_logo {
  display: flex;
  justify-content: center;
  padding: 15px 0 10px 0;
}

.header_search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 10px 0;
  border-top: 2px solid #cecece;
}

.search_MapMarker {
  padding: 0 10px 0 0;
}

.header_exploration {
  background-color: #f6f6f6;
  padding: 20px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_exploration .exploration_h2 {
  text-align: center;
  margin: 5px;
}
.header_exploration .exploration_p {
  text-align: center;
  margin: 5px 0 30px 0;
  font-weight: lighter;
}
.header_exploration .btn {
  text-align: center;
  justify-content: center;
  background: linear-gradient(0.45turn, #FF79DA, #9356DC);
  width: 240px;
  color: #ffffff;
  padding: 15px 0;
  border-radius: 30px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.5s;
}
.header_exploration .btn:hover {
  transform: scale(1.1);
}

.fonctionnement {
  margin: 20px 0;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.fonctionnement_h2 {
  margin-left: 20px;
  margin-top: 30px;
}

.fonctionnement_box {
  display: flex;
  background-color: #f6f6f6;
  align-items: center;
  width: 90%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 25px;
  box-shadow: 2px 3px 5px #c9caccd2;
}
.fonctionnement_box .fonctionnement_number {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 2px 7px;
  color: #ffffff;
  margin: auto 10px auto -10px;
}
.fonctionnement_box .fonctionnement_i {
  margin: 0 10px;
}
.fonctionnement_box .fonctionnement_p {
  margin: 15px auto;
  padding-right: 20px;
  text-align: center;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 30px 0;
}

.restaurants_h2 {
  margin-left: 20px;
}

.img_LaPaletteDuGout {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.img_LaNoteEnchantee {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.img_ALaFrancaise {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.img_LeDeliceDesSens {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.restaurants_container {
  height: 250px;
  width: auto;
  margin: 15px 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 2px 3px 5px #c9caccd2;
}
.restaurants_container .restaurants_img {
  width: 100%;
  height: 195px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.restaurants_container .restaurants_img .img_nouveau {
  background-color: #99E2D0;
  padding: 4px 6px;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}
.restaurants_container .container_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants_container .container_info_text {
  margin: 10px 0 10px 15px;
}
.restaurants_container .container_info_text h3, .restaurants_container .container_info_text p {
  margin: 0;
}
.restaurants_container .i_empty {
  font-size: 25px;
  margin-right: -29px;
}
.restaurants_container .i_full {
  margin-right: 15px;
  font-size: 25px;
  color: transparent;
  transition: color 0.3s;
}

.i_full:hover {
  color: #9356DC;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: #353535;
}
footer .a_underline:hover {
  text-decoration: underline;
}
footer .footer_text {
  display: flex;
  margin: 5px 20px;
  align-items: center;
  color: #ffffff;
}
footer .footer_text p {
  margin: 0;
}
footer .footer_logo {
  color: #ffffff;
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  margin: 10px 0;
}
footer .footer_i {
  margin-right: 10px;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
